<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from zoyothemes.com/tailwind/evea/index-1 by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 06 Oct 2024 16:06:15 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tracer Study - Berita</title>
    <meta name="description"
        content="Platform yang memfasilitasi para alumni dalam memperbarui informasi terkait karir dan pendidikan. Data yang dihimpun akan digunakan untuk evaluasi program sekolah dan mendukung keterhubungan antara alumni, sekolah, dan industri." />

    <meta name="keywords"
        content="Tracer Study, alumni tracking, SMK BP Subulul Huda, education, career tracking, website development, Tailwind CSS" />
    <meta name="author" content="Tracer Study Team - SMK BP Subulul Huda" />


    <link href="../assets/landing/images/smk-bp.png" rel="icon" type="image/png">

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Css -->
    <link href="../assets/landing/libs/tiny-slider/tiny-slider.css" rel="stylesheet">
    <link href="../assets/landing/libs/tobii/css/tobii.min.css" rel="stylesheet">
    <link href="../assets/landing/libs/choices.js/public/assets/styles/choices.min.css" rel="stylesheet">
    <!-- Main Css -->
    <link href="../assets/landing/libs/%40iconscout/unicons/css/line.css" type="text/css" rel="stylesheet" />
    <link href="../assets/landing/libs/%40mdi/font/css/materialdesignicons.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../assets/landing/css/tailwind.min.css" />
</head>

<body>


    <% if (error_msg && error_msg.length> 0) { %>
        <div
            style="position: fixed; top: 5rem; right: 0; left: 0; z-index: 50; display: flex; align-items: center; justify-content: center;">
            <div class="alert-error"
                style="background-color: #F44336; color: white; border-radius: 0.375rem; padding: 1rem; margin-bottom: 2.25rem; width: 75%; max-width: 640px; font-size: 1.3rem; line-height: 1.25rem; text-align: center;"
                role="alert">
                <p style="margin: 0;">
                    <%= error_msg %>
                </p>
            </div>
        </div>
        <% } %>
            <nav id="topnav" class="defaultscroll is-sticky">
                <div class="container relative">
                    <!-- Logo container-->
                    <a class="logo" href="index.html">
                        <img src="../assets/landing/images/logo-dark.png" class="inline-block dark:hidden" alt=""
                            width="170">
                        <img src="../assets/landing/images/logo-light.png" class="hidden dark:inline-block" alt=""
                            width="170">
                    </a>
                    <!-- End Logo container-->

                    <!-- Start Mobile Toggle -->
                    <div class="menu-extras">
                        <div class="menu-item">
                            <a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
                                <div class="lines">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- End Mobile Toggle -->

                    <!--Login button Start-->
                    <ul class="buy-button list-none mb-0">
                        <li class="sm:inline ps-1 mb-0 hidden">
                            <a href="/loginPage"
                                class="btn bg-green-600 hover:bg-green-700 border-green-600 dark:border-green-600 text-white !rounded-full"
                                style="font-size: 1.5rem;">Masuk</a>
                        </li>
                    </ul>
                    <!--Login button End-->

                    <div id="navigation">
                        <!-- Navigation Menu-->
                        <ul class="navigation-menu !justify-end">
                            <li><a href="/" class="sub-menu-item" style="font-size: 1.5rem;">Home</a></li>

                            <li><a href="/berita" class="sub-menu-item" style="font-size: 1.5rem;">Berita</a></li>
                            <li><a href="/lowongan" class="sub-menu-item" style="font-size: 1.5rem;">Lowongan</a></li>
                            <li><a href="/saran" class="sub-menu-item" style="font-size: 1.5rem;">Saran</a></li>

                        </ul><!--end navigation menu-->
                    </div><!--end navigation-->
                </div><!--end container-->
            </nav>


            <section class="relative md:py-24 pt-24 pb-16">
                <div class="container relative">
                    <div class="grid md:grid-cols-12 grid-cols-1 gap-[30px]">
                        <div class="lg:col-span-12 md:col-span-12">
                            <div class="grid grid-cols-1 relative">
                                <div class="tiny-one-item">
                                    <div class="tiny-slide text-center">
                                        <img src="../uploads/<%= berita.featuredImage %>"
                                            class="rounded-md shadow-sm dark:shadow-gray-700 mx-auto" alt="">
                                    </div>
                                </div>
                            </div>

                            <h4 class="text-2xl font-medium mt-6 mb-3 text-center">
                                <%= berita.title %>
                            </h4>
                            <span class="text-slate-400 flex items-center justify-center">
                                <%= berita.createdAt.toLocaleDateString('id-ID', { day: 'numeric' , month: 'long' ,
                                    year: 'numeric' }) %>
                            </span>

                            <p class="text-slate-400 text-center">
                                <%= berita.content %>
                            </p>
                        </div>
                    </div>
                </div>
            </section>


            <footer class="relative bg-slate-900 dark:bg-slate-800 mt-24">
                <div class="container relative">
                    <div class="grid grid-cols-1">
                        <div class="relative py-16">
                            <div class="relative w-full">

                                <div class="grid md:grid-cols-12 grid-cols-1 gap-[30px] mt-14">
                                    <div class="lg:col-span-4 md:col-span-12">
                                        <a href="#" class="text-[22px] focus:outline-none">
                                            <img src="../assets/landing/images/logo-light.png" alt="">
                                        </a>
                                        <p class="mt-6 text-gray-300">Platform yang memfasilitasi para alumni dalam
                                            memperbarui
                                            informasi terkait karir dan
                                            pendidikan.</p>

                                    </div>

                                    <div class="lg:col-span-4 md:col-span-4">
                                        <h5 class="tracking-[1px] text-gray-100 font-semibold">Menu</h5>
                                        <ul class="list-none footer-list mt-6">
                                            <li><a href="/"
                                                    class="text-slate-300 hover:text-slate-400 duration-500 ease-in-out"><i
                                                        class="uil uil-angle-right-b me-1"></i>Home</a></li>
                                            <li class="mt-[10px]"><a href="/berita"
                                                    class="text-slate-300 hover:text-slate-400 duration-500 ease-in-out"><i
                                                        class="uil uil-angle-right-b me-1"></i>Berita</a></li>
                                            <li class="mt-[10px]"><a href="/lowongan"
                                                    class="text-slate-300 hover:text-slate-400 duration-500 ease-in-out"><i
                                                        class="uil uil-angle-right-b me-1"></i>Lowongan</a></li>
                                            <li class="mt-[10px]"><a href="/saran"
                                                    class="text-slate-300 hover:text-slate-400 duration-500 ease-in-out"><i
                                                        class="uil uil-angle-right-b me-1"></i> Saran</a></li>
                                        </ul>
                                    </div><!--end col-->

                                    <div class="lg:col-span-4 md:col-span-4">
                                        <h5 class="tracking-[1px] text-gray-100 font-semibold">Contact Details</h5>


                                        <div class="flex mt-6">
                                            <i data-feather="map-pin" class="size-5 text-green-600 me-3"></i>
                                            <div class="">
                                                <h6 class="text-gray-300 mb-2">Jalan Anggur, RT.8/RW.2,<br>
                                                    Kembangsawit,
                                                    Rejosari,<br>
                                                    Kebon Sari, Madiun Regency, East Java 63173</h6>
                                                <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3953.60992800336!2d111.4765123750043!3d-7.72493229229321!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e79981ca25d32a5%3A0xece99a71c6c89e69!2sPondok%20Pesantren%20Subulul%20Huda!5e0!3m2!1sid!2sid!4v1747219372907!5m2!1sid!2sid"
                                                    data-type="iframe"
                                                    class="text-green-600 hover:text-green-700 duration-500 ease-in-out lightbox">View
                                                    on Google map</a>
                                            </div>
                                        </div>

                                        <div class="flex mt-6">
                                            <i data-feather="mail" class="size-5 text-green-600 me-3"></i>
                                            <div class="">
                                                <a href="mailto:contact@example.com"
                                                    class="text-slate-300 hover:text-slate-400 duration-500 ease-in-out">contact@example.com</a>
                                            </div>
                                        </div>

                                        <div class="flex mt-6">
                                            <i data-feather="phone" class="size-5 text-green-600 me-3"></i>
                                            <div class="">
                                                <a href="tel:+152534-468-854"
                                                    class="text-slate-300 hover:text-slate-400 duration-500 ease-in-out">(0351)
                                                    366704</a>
                                            </div>
                                        </div>
                                    </div><!--end col-->
                                </div><!--end grid-->
                            </div>
                            <!-- Subscribe -->
                        </div>
                    </div>
                </div>


                <div class="py-[30px] px-0 border-t border-gray-800 dark:border-gray-700">
                    <div class="container relative text-center">
                        <div class="grid md:grid-cols-2 items-center gap-6">
                            <div class="md:text-start text-center">
                                <p class="mb-0 text-gray-300">©
                                    <script>document.write(new Date().getFullYear())</script> SMK BP Subulul Huda
                                </p>
                            </div>

                            <ul class="list-none md:text-end text-center">
                                <li class="inline"><a href="https://www.facebook.com/shreethemes" target="_blank"
                                        class="btn btn-icon btn-sm text-gray-400 hover:text-white border border-gray-800 dark:border-gray-700 rounded-md hover:border-green-600 dark:hover:border-green-600 hover:bg-green-600 dark:hover:bg-green-600"><i
                                            data-feather="facebook" class="size-4"></i></a></li>
                                <li class="inline"><a href="https://www.instagram.com/shreethemes/" target="_blank"
                                        class="btn btn-icon btn-sm text-gray-400 hover:text-white border border-gray-800 dark:border-gray-700 rounded-md hover:border-green-600 dark:hover:border-green-600 hover:bg-green-600 dark:hover:bg-green-600"><i
                                            data-feather="instagram" class="size-4"></i></a></li>
                                <li class="inline"><a href="mailto:support@shreethemes.in"
                                        class="btn btn-icon btn-sm text-gray-400 hover:text-white border border-gray-800 dark:border-gray-700 rounded-md hover:border-green-600 dark:hover:border-green-600 hover:bg-green-600 dark:hover:bg-green-600"><i
                                            data-feather="mail" class="size-4"></i></a></li>
                            </ul><!--end icon-->
                        </div><!--end grid-->
                    </div><!--end container-->
                </div>
            </footer>

            <!-- JAVASCRIPTS -->
            <script src="../assets/landing/libs/tiny-slider/min/tiny-slider.js"></script>
            <script src="../assets/landing/libs/tobii/js/tobii.min.js"></script>
            <script src="../assets/landing/libs/choices.js/public/assets/scripts/choices.min.js"></script>
            <script src="../assets/landing/libs/feather-icons/feather.min.js"></script>
            <script src="../assets/landing/js/plugins.init.js"></script>
            <script src="../assets/landing/js/app.js"></script>
            <!-- JAVASCRIPTS -->

</body>

</html>