<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from zoyothemes.com/tailwind/evea/index-1 by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 06 Oct 2024 16:06:15 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tracer Study</title>
    <meta name="description"
        content="Platform yang memfasilitasi para alumni dalam memperbarui informasi terkait karir dan pendidikan. Data yang dihimpun akan digunakan untuk evaluasi program sekolah dan mendukung keterhubungan antara alumni, sekolah, dan industri." />

    <meta name="keywords"
        content="Tracer Study, alumni tracking, SMK BP Subulul Huda, education, career tracking, website development, Tailwind CSS" />
    <meta name="author" content="Tracer Study Team - SMK BP Subulul Huda" />


    <link href="assets/images/smk-bp.png" rel="icon" type="image/png">

    <!-- Icons Css -->
    <link href="assets/landing/css/icons.min.css" rel="stylesheet" type="text/css">

    <!-- Jarallax Css -->
    <link href="assets/landing/libs/jarallax/jarallax.min.css" rel="stylesheet">

    <!-- Swiper Css -->
    <link href="assets/landing/libs/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Main Css -->
    <link href="assets/landing/css/style.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="assets/styles/style.css">

</head>

<body>

    <!-- Navbar Start -->
    <nav class="navbar fixed top-0 start-0 end-0 z-999 transition-all duration-500 py-5 items-center shadow-md lg:shadow-none [&.is-sticky]:bg-white group [&.is-sticky]:shadow-md bg-white lg:bg-transparent"
        id="navbar">
        <div class="container">

            <div class="flex lg:flex-nowrap flex-wrap items-center lg:gap-32">
                <div class="flex md:gap-2 lg:gap-3">
                    <img src="assets/images/smk-bp.png" alt="logo-smk" class="w-16 lg:w-20">
                    <a class='flex items-center' href='/'>
                        <p>
                            <span class="font-bold text-2xl text-primary sm:text-sm">TRACER STUDY</span>
                            <br>
                            <span class="text-sm font-semibold"> SMK Berbasis Pesantren Subulul Huda </span>
                        </p>
                    </a>
                </div>

                <div class="lg:hidden flex items-center ms-auto px-2.5">
                    <button class="hs-collapse-toggle" type="button" id="hs-unstyled-collapse"
                        data-hs-collapse="#navbarCollapse">
                        <i data-lucide="menu" class="h-8 w-8 text-black"></i>
                    </button>
                </div>

                <div class="navigation hs-collapse transition-all duration-300 lg:basis-auto basis-full grow hidden items-center justify-center lg:flex mx-auto overflow-hidden mt-6 lg:mt-0 nav-light"
                    id="navbarCollapse">
                    <ul class="navbar-nav flex-col lg:flex-row gap-y-2 flex lg:items-center justify-evenly"
                        id="navbar-navlist">
                        <li
                            class="nav-item mx-1.5 transition-all text-dark lg:text-black group-[&.is-sticky]:text-dark all duration-300 hover:text-primary [&.active]:!text-primary group-[&.is-sticky]:[&.active]:text-primary">
                            <a class="nav-link inline-flex items-center text-sm lg:text-base font-medium py-0.5 px-2 capitalize"
                                href="#home">Home</a>
                        </li>

                        <li
                            class="nav-item mx-1.5 transition-all text-dark lg:text-black group-[&.is-sticky]:text-dark duration-300 hover:text-primary [&.active]:!text-primary group-[&.is-sticky]:[&.active]:text-primary">
                            <a class="nav-link inline-flex items-center text-sm lg:text-base font-medium py-0.5 px-2 capitalize"
                                href="#jurusan">Jurusan</a>
                        </li>
                        <li
                            class="nav-item mx-1.5 transition-all text-dark lg:text-black group-[&.is-sticky]:text-dark duration-300 hover:text-primary [&.active]:!text-primary group-[&.is-sticky]:[&.active]:text-primary">
                            <a class="nav-link inline-flex items-center text-sm lg:text-base font-medium py-0.5 px-2 capitalize"
                                href="#penilaian">Penilaian</a>
                        </li>
                    </ul>
                    <div class="ms-auto shrink inline-flex gap-2 mt-4 lg:mt-0 ml-5">
                        <a href="/loginPage"
                            class="py-2 px-6 inline-flex items-center gap-2 rounded-md text-base text-white bg-primary hover:bg-primaryDark transition-all duration-500 font-medium">
                            Login
                        </a>
                    </div>
                </div>

            </div>

        </div>
    </nav>



    <!-- =========== Hero Section Start =========== -->
    <section
        class="relative pt-32 pb-32 overflow-x-hidden from-slate-500/10 bg-[url(../images/home/bg-1.png)] bg-no-repeat bg-cover"
        id="home">
        <div class="container">
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6 items-center">
                <div class="text-sm py-20 px-10">
                    <h1 class="md:text-6xl/tight text-4xl text-dark tracking-normal leading-normal font-bold mb-4 mt-6">
                        Selamat Datang di <span class="text-primary"> Tracer Study</span>
                    </h1>
                    <p class="text-lg">
                        Platform yang memfasilitasi para alumni dalam memperbarui informasi terkait karir dan
                        pendidikan. Data yang dihimpun akan digunakan untuk evaluasi program sekolah dan
                        mendukung keterhubungan antara alumni, sekolah, dan industri.
                    </p>
                    <!-- <div class="flex flex-wrap items-center justify-center gap-3 lg:justify-normal mt-9">
                        <img src="assets/landing/images/store.png" class="h-14" alt="apple image">
                        <img src="assets/landing/images/google.png" class="h-14" alt="google image">
                    </div> -->
                </div>

                <div class="mt-4 pt-2 sm:mt-0 sm:pt-0 relative">
                    <img src="assets/landing/images/landing-hero.png" alt="" class="h-full w-full mx-auto">

                    <div class="absolute bottom-3/4 -end-14 2xl:end-8 hidden xl:block">
                        <div class="flex items-center gap-2 p-2 pe-6 rounded-full bg-white shadow-2xl">
                            <div class="rounded-full bg-primary h-9 w-9 items-center justify-center flex">
                                <i data-lucide="codesandbox" class="h-6 w-6 text-white"></i>
                            </div>
                            <div class="">
                                <h6 class="text-base font-medium text-default-900">Cepat Kerja!</h6>
                            </div>
                        </div>
                    </div>


                    <div class="absolute bottom-28 start-6 hidden xl:block">
                        <div class="flex items-center gap-2 p-2 pe-6 rounded-full bg-white shadow-2xl">
                            <div class="rounded-full bg-primary h-9 w-9 items-center justify-center flex">
                                <p class="text-xl">
                                    ✊
                                </p>

                                <!-- <i data-lucide="headset" class="h-6 w-6 text-white"></i> -->
                            </div>
                            <div class="">
                                <h6 class="text-base font-medium text-default-900">SMK Bisa!</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- Services Start -->
    <section id="jurusan" class="py-20">
        <div class="container">
            <div class="max-w-2xl mx-auto text-center">
                <span
                    class="text-sm text-primary uppercase font-semibold tracking-wider text-default-950">Jurusan</span>
                <h2 class="text-3xl md:text-4xl/tight font-semibold text-black mt-4">Mengembangkan Siswa dengan Skill
                    yang diperlukan Industri</h2>
                <p class="text-base font-medium mt-4 text-muted">Semua Siswa siap kerja</p>
            </div>

            <div
                class="grid lg:grid-cols-2 md:grid-cols-1 grid-cols-1 gap-x-3 gap-y-6 md:gap-y-12 lg:gap-y-24 md:pt-20 pt-12">

                <!-- <div class="text-center">
                    <div class="flex items-center justify-center">
                        <div
                            class="items-center justify-center flex bg-primary/10 rounded-[49%_80%_40%_90%_/_50%_30%_70%_80%] h-20 w-20 border">
                            <i data-lucide="menu" class="h-10 w-10 text-primary"></i>
                        </div>
                    </div>
                    <h1 class="text-xl font-semibold pt-4">Market Research</h1>
                    <p class="text-base text-gray-600 mt-2">Gain a comprehensive understanding of your industry
                        landscape.</p>
                </div> -->

                <!-- <div class="text-center">
                    <div class="flex items-center justify-center">
                        <div
                            class="items-center justify-center flex bg-primary/10 rounded-[49%_80%_40%_90%_/_50%_30%_70%_80%] h-20 w-20 border">
                            <i data-lucide="lightbulb" class="h-10 w-10 text-primary"></i>
                        </div>
                    </div>
                    <h1 class="text-xl font-semibold pt-4">User Experience</h1>
                    <p class="text-base text-gray-600 mt-2">Evaluate the viability and potential of new products or
                        services.</p>
                </div> -->

                <div class="text-center">
                    <div class="flex items-center justify-center">
                        <div
                            class="items-center justify-center flex bg-primary/10 rounded-[49%_80%_40%_90%_/_50%_30%_70%_80%] h-20 w-20 border">
                            <i data-lucide="bar-chart-big" class="h-10 w-10 text-primary"></i>
                        </div>
                    </div>
                    <h1 class="text-xl font-semibold pt-4">Perbankan Syariah</h1>
                    <p class="text-base text-gray-600 mt-2">Benchmark your performance against competitors, identify
                        strengths.</p>
                </div>

                <!-- <div class="text-center">
                    <div class="flex items-center justify-center">
                        <div
                            class="items-center justify-center flex bg-primary/10 rounded-[49%_80%_40%_90%_/_50%_30%_70%_80%] h-20 w-20 border">
                            <i data-lucide="codepen" class="h-10 w-10 text-primary"></i>
                        </div>
                    </div>
                    <h1 class="text-xl font-semibold pt-4">SEO Services</h1>
                    <p class="text-base text-gray-600 mt-2">Anticipate market shifts and emerging trends to stay ahead
                        of the curve.</p>
                </div> -->

                <!-- <div class="text-center">
                    <div class="flex items-center justify-center">
                        <div
                            class="items-center justify-center flex bg-primary/10 rounded-[49%_80%_40%_90%_/_50%_30%_70%_80%] h-20 w-20 border">
                            <i data-lucide="shield" class="h-10 w-10 text-primary"></i>
                        </div>
                    </div>
                    <h1 class="text-xl font-semibold pt-4">Market Research</h1>
                    <p class="text-base text-gray-600 mt-2">Our market research services are designed to provide maximum
                        value.</p>
                </div> -->

                <div class="text-center">
                    <div class="flex items-center justify-center">
                        <div
                            class="items-center justify-center flex bg-primary/10 rounded-[49%_80%_40%_90%_/_50%_30%_70%_80%] h-20 w-20 border">
                            <i data-lucide="rocket" class="h-10 w-10 text-primary"></i>
                        </div>
                    </div>
                    <h1 class="text-xl font-semibold pt-4">Rekayasa Perangkat Lunak</h1>
                    <p class="text-base text-gray-600 mt-2">We go beyond data collection to provide actionable insights.
                    </p>
                </div>

                <!-- <div class="text-center">
                    <div class="flex items-center justify-center">
                        <div
                            class="items-center justify-center flex bg-primary/10 rounded-[49%_80%_40%_90%_/_50%_30%_70%_80%] h-20 w-20 border">
                            <i data-lucide="layers-2" class="h-10 w-10 text-primary"></i>
                        </div>
                    </div>
                    <h1 class="text-xl font-semibold pt-4">Affiliate Marketing</h1>
                    <p class="text-base text-gray-600 mt-2">We understand that every business is unique. That's why we
                        offer.</p>
                </div> -->

                <!-- <div class="text-center">
                    <div class="flex items-center justify-center">
                        <div
                            class="items-center justify-center flex bg-primary/10 rounded-[49%_80%_40%_90%_/_50%_30%_70%_80%] h-20 w-20 border">
                            <i data-lucide="webcam" class="h-10 w-10 text-primary"></i>
                        </div>
                    </div>
                    <h1 class="text-xl font-semibold pt-4">Website Development</h1>
                    <p class="text-base text-gray-600 mt-2">In today's competitive market, timing is everything. Our
                        efficient.</p>
                </div> -->
            </div>

        </div>
    </section>
    <!-- Services End -->

    <section class="relative py-20 bg-cover bg-no-repeat bg-center"
        style="background-image: url('assets/landing/images/home/parallax.png');" data-jarallax data-speed="0.20">
        <div class="absolute inset-0 w-full h-full bg-gray-900/70"></div>

        <div class="container">
            <div class="pb-10 lg:pb-0 flex flex-col items-center justify-center">
                <h1 class="text-3xl md:text-4xl/tight font-semibold text-white text-center">Bantu SMK untuk terus
                    berkembang</h1>
                <p class="text-base font-normal max-w-xl text-center mx-auto text-white mt-6">Lengkapi form tracer study
                    dengan menekan tombol di bawah</p>
                <div class="flex flex-wrap mt-6 gap-3">
                    <a href="/loginPage">
                        <button
                            class="py-2 px-6 rounded-md text-white text-base bg-primary hover:bg-primaryDark border border-primary hover:border-primaryDark transition-all duration-500 font-medium">Lengkapi
                            Form</button>
                    </a>
                </div>
            </div>
        </div>
    </section>


    <!-- Testimonial Start -->
    <section id="penilaian" class="py-20">
        <div class="container">
            <div class="">
                <div class="text-center max-w-xl mx-auto">
                    <span class="text-sm text-primary uppercase font-semibold tracking-wider text-default-950">Penilaian
                        Alumni</span>
                    <h2 class="text-3xl md:text-4xl/tight font-semibold mt-4">Cerita Sukses Alumni</h2>
                </div>
            </div>

            <div class="grid grid-cols-1 gap-6 mt-14 items-center">
                <div class="relative">
                    <div class="swiper testi-swiper rounded-md relative px-1">
                        <div class="swiper-wrapper">
                            <% if(feedback.length> 0) { %>
                                <% for(var i=0; i < feedback.length; i++) { %>
                                    <div class="swiper-slide">
                                        <div class="p-6 rounded-xl border border-default-200">
                                            <p class="text-base font-normal mb-4 text-muted">
                                                <%= feedback[i].feedback.pesan.split(' ').slice(0, 30).join(' ') %>...
                                            </p>
                                            <div class="flex items-center gap-4">
                                                <div>
                                                    <h3 class="text-lg font-semibold text-primary"><%= feedback[i].alumniId.nama %></h3>
                                                    <% if(feedback[i].kegiatan == "Bekerja"){ %>
                                                    <p class="text-sm font-medium mt-1"> Bekerja di <%= feedback[i].kegiatanDetail.namaPerusahaan %></p>
                                                    <% } else if(feedback[i].kegiatan == "Melanjutkan Studi"){ %>
                                                    <p class="text-sm font-medium mt-1"> Melanjutkan Studi di <%= feedback[i].kegiatanDetail.namaUniversitas %></p>
                                                    <% } else if(feedback[i].kegiatan == "Berwirausaha"){ %>
                                                    <p class="text-sm font-medium mt-1"> Owner <%= feedback[i].kegiatanDetail.namaUsaha %></p>
                                                    <% } %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% } %>
                            <% } else { %>
                                <div class="swiper-slide">
                                    <div class="p-6 rounded-xl border border-default-200">
                                        <h3 class="text-xl font-semibold text-default-950">No doubt, spend.in is thebest!</h3>
                                        <p class="text-base font-normal mt-4 mb-4 text-muted">
                                            Without a doubt, Spend in stands out as the absolute best.Their exceptional quality, reliablity, and customer service are unmatched. I have complete....
                                        </p>
                                        <div class="flex items-center gap-4">
                                            <div>
                                                <h3 class="text-lg font-semibold text-primary">Moritika
                                                                Kazuki</h3>
                                                <p class="text-sm font-medium mt-1">Finance Manager at
                                                                Mangan</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="p-6 rounded-xl border border-default-200">
                                        <h3 class="text-xl font-semibold text-default-950">No doubt, spend.in is thebest!</h3>
                                        <p class="text-base font-normal mt-4 mb-4 text-muted">
                                            Without a doubt, Spend in stands out as the absolute best.Their exceptional quality, reliablity, and customer service are unmatched. I have complete....
                                        </p>
                                        <div class="flex items-center gap-4">
                                            <div>
                                                <h3 class="text-lg font-semibold text-primary">Moritika
                                                                Kazuki</h3>
                                                <p class="text-sm font-medium mt-1">Finance Manager at
                                                                Mangan</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                    </div>

                    <div class="flex items-center justify-center gap-3 w-full relative mt-10">
                        <div class="testi-button-prev">
                            <div
                                class="h-11 w-11 rounded-full shadow border border-default-300 bg-default-100 text-default-900 hover:bg-primary hover:border-primary hover:text-white flex items-center justify-center transition-all duration-300">
                                <i data-lucide="chevron-left" class="h-6 w-6"></i>
                            </div>
                        </div>
                        <div class="testi-button-next">
                            <div
                                class="h-11 w-11 rounded-full shadow border border-default-300 bg-default-100 text-default-900 hover:bg-primary hover:border-primary hover:text-white flex items-center justify-center transition-all duration-300">
                                <i data-lucide="chevron-right" class="h-6 w-6"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer Start -->
    <footer class="bg-[#17243A]">
        <div class="container">
            <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-5 gap-6 pb-16 pt-16">
                <div class="col-span-full lg:col-span-2">
                    <div class="max-w-2xl mx-auto">
                        <div class="flex items-center">
                            <h1 class="text-3xl font-bold text-primary">SMK BP Subulul Huda</h1>
                        </div>
                        <p class="text-gray-300 max-w-xs mt-6">Jl.Anggur, RT.8/RW.2, Kembangsawit, Rejosari, Kebonsari, Madiun, Jawa timur, Indonesia</p>
                    </div>

                    <div class="mt-6 grid space-y-3">
                        <a class="inline-flex items-center gap-x-4 text-gray-300 hover:text-gray-400 transition-all duration-300"
                            href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="lucide lucide-mail">
                                <rect width="20" height="16" x="2" y="4" rx="2" />
                                <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7" />
                            </svg>
                            smkbpsubululhuda@gmail.com
                        </a>

                        <a class="inline-flex items-center gap-x-4 text-gray-300 hover:text-gray-400 transition-all duration-300"
                            href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="lucide lucide-phone">
                                <path
                                    d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z" />
                            </svg>
                            (+62)87851259896
                        </a>
                    </div>
                </div>

                <div class="col-span-1">
                    <h4 class="font-semibold text-gray-100 uppercase">Media Links</h4>

                    <div class="mt-6 grid space-y-3">
                        <p><a class="inline-flex gap-x-2 text-base text-gray-300 hover:text-gray-400 transition-all duration-300"
                            href="https://www.smkbpsuhu.sch.id/">Website</a></p>
                        <p><a class="inline-flex gap-x-2 text-base text-gray-300 hover:text-gray-400 transition-all duration-300"
                                href="https://www.instagram.com/smksubululhuda">Instagram</a></p>
                        <p><a class="inline-flex gap-x-2 text-base text-gray-300 hover:text-gray-400 transition-all duration-300"
                                href="https://www.facebook.com/SMKBPSubululHudaKembangsawit/?locale=id_ID">Facebook</a></p>
                        <p><a class="inline-flex gap-x-2 text-base text-gray-300 hover:text-gray-400 transition-all duration-300"
                                href="https://www.youtube.com/channel/UCz3YS3Fmt12m2QvZC120iRw">Youtube</a></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="py-4 bg-[#1C2940]">
            <!-- 1B283F -->
            <div class="container">
                <div class="flex justify-center items-center">
                    <p class="text-base text-white">
                        <script>document.write(new Date().getFullYear())</script>© SMK BP Subulul Huda - <a href="#">All
                            rights
                            reserved</a>
                    </p>

                  </div>


            </div>
        </div>

    </footer>
    <!-- Footer End -->

    
    <!-- Back to top -->
    <a href="javascript: void(0);" onclick="topFunction()" id="back-to-top"
        class="back-to-top fixed text-base rounded-md z-10 bottom-8 right-8 h-8 w-8 text-center bg-primary text-white leading-9 justify-center items-center">
        <i data-lucide="arrow-up" class="h-4 w-4 text-white stroke-2"></i>
    </a>
    <!-- Back to top -->

    <!-- Preline Js -->
    <script src="assets/landing/libs/preline/preline.js"></script>

    <!-- Lucide Js -->
    <script src="assets/landing/libs/lucide/umd/lucide.min.js"></script>

    <!-- Gumshoe Js -->
    <script src="assets/landing/libs/gumshoejs/gumshoe.polyfills.min.js"></script>

    <!-- Jarallax Js -->
    <script src="assets/landing/libs/jarallax/jarallax.min.js"></script>

    <!-- Swiper Bundle Js -->
    <script src="assets/landing/libs/swiper/swiper-bundle.min.js"></script>

    <!-- Swiper Js -->
    <script src="assets/landing/js/swiper.js"></script>

    <!-- Main App Js -->
    <script src="assets/landing/js/app.js"></script>

</body>

</html>