<!DOCTYPE html>
<html lang="en">
<!-- Mirrored from coderthemes.com/konrix/layouts/apps-calendar.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 09 Oct 2024 06:31:06 GMT -->

<head>
    <meta charset="utf-8">
    <title>Admin - List Alumni</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description">
    <meta content="coderthemes" name="author">
    <link rel="shortcut icon" href="../../assets/admin/smk-bp.png">


    <!-- Main Css -->
    <link href="../../assets/admin/libs/simplebar/simplebar.min.css" rel="stylesheet">
    <link href="../../assets/admin/libs/%40mdi/font/css/materialdesignicons.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../../assets/admin/css/tailwind.min.css">

    <!-- grid cdn -->
    <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
</head>

<body>
    <div class="page-wrapper toggled">
        <nav id="sidebar" class="sidebar-wrapper sidebar-dark">
            <div class="sidebar-content">
                <div class="sidebar-brand">
                    <a href="/"><img src="../../assets/admin/images/logo-light.png" alt="" width="200px"></a>
                </div>

                <ul class="sidebar-menu border-t border-white/10" data-simplebar style="height: calc(100% - 70px);">
                    <li>
                        <a href="/admin" style="font-size: 1.4rem;"><i
                                class="mdi mdi-chart-bell-curve-cumulative me-2"></i>Dashboard</a>
                    </li>

                    <li>
                        <a href="/admin/alumni-list" style="font-size: 1.4rem;"><i
                                class="mdi mdi-home-city me-2"></i>Alumni </a>
                    </li>

                    <li>
                        <a href="/admin/berita" style="font-size: 1.4rem;"><i class="mdi mdi-home-heart me-2"></i>Berita
                        </a>
                    </li>

                    <li>
                        <a href="/admin/lowongan" style="font-size: 1.4rem;"><i
                                class="mdi mdi-home-plus me-2"></i>Lowongan </a>
                    </li>

                    <li>
                        <a href="/admin/saran" style="font-size: 1.4rem;"><i
                                class="mdi mdi-chat-outline me-2"></i>Saran</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Start Page Content -->
        <main class="page-content bg-gray-50 dark:bg-slate-800">

            <!-- Top Header -->
            <div class="top-header">
                <div class="header-bar flex justify-between">
                    <div class="flex items-center space-x-1">
                        <!-- Logo -->
                        <a href="#" class="xl:hidden block me-2">
                            <img src="../../assets/admin/images/smk-bp.png" width="40px" class="md:hidden block" alt="">
                            <span class="md:block hidden">
                                <img src="../../assets/admin/images/logo-dark.png" class="inline-block dark:hidden"
                                    alt="" width="200px">
                                <img src="../../assets/admin/images/logo-light.png" class="hidden dark:inline-block"
                                    alt="" width="200px">
                            </span>
                        </a>
                        <!-- Logo -->

                        <!-- show or close sidebar -->
                        <a id="close-sidebar"
                            class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-[20px] text-center bg-gray-50 dark:bg-slate-800 hover:bg-gray-100 dark:hover:bg-slate-700 border border-black dark:border-gray-800 text-slate-900 dark:text-white rounded-md"
                            href="javascript:void(0)">
                            <i data-feather="menu" class="size-4"></i>
                        </a>
                        <!-- show or close sidebar -->
                    </div>

                    <ul class="list-none mb-0 space-x-1">
                        <!-- User/Profile Dropdown -->
                        <li class="dropdown inline-block relative">
                            <button data-dropdown-toggle="dropdown" class="dropdown-toggle items-center" type="button">
                                <span
                                    class="size-10 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-[20px] text-center bg-gray-50 dark:bg-slate-800 hover:bg-gray-100 dark:hover:bg-slate-700 border border-black dark:border-gray-800 text-slate-900 dark:text-white rounded-md"><img
                                        src="../../assets/admin/images/profile-icon-light.png" class="rounded-md w-full"
                                        alt="" style="cursor: pointer;"></span>
                            </button>
                            <!-- Dropdown menu -->
                            <div class="dropdown-menu absolute end-0 m-0 mt-4 z-10 w-44 rounded-md overflow-hidden bg-white dark:bg-slate-900 shadow-sm dark:shadow-gray-700 hidden"
                                onclick="event.stopPropagation();">
                                <ul class="py-2 text-start">
                                    <li>
                                        <a href="/admin/profile"
                                            class="block py-1 px-4 dark:text-white/70 hover:text-green-600 dark:hover:text-white"><i
                                                class="mdi mdi-account-outline me-2"></i>Profile</a>
                                    </li>
                                    <li class="border-t border-gray-100 dark:border-gray-800 my-2"></li>
                                    <li>
                                        <a href="/logout"
                                            class="block py-1 px-4 dark:text-white/70 hover:text-green-600 dark:hover:text-white"><i
                                                class="mdi mdi-logout me-2"></i>Logout</a>
                                    </li>
                                </ul>
                            </div>
                        </li><!--end dropdown-->
                        <!-- User/Profile Dropdown -->
                    </ul>
                </div>
            </div>
            <!-- Top Header -->

            <div class="container-fluid relative px-3">
                <div class="layout-specing">
                    <p style="color: black; font-size: 2rem; font-weight: bold; display: block; margin-bottom: 0.7rem;">
                        Daftar Alumni</p>
                    <div
                        class="relative overflow-hidden rounded-md shadow-sm dark:shadow-gray-700 bg-white dark:bg-slate-900 py-3">
                        <div class="px-6" style="position: relative;">
                            <div style="position: absolute; top: 0.6rem; right: 1.7rem; z-index: 10;">
                                <button id="tambahAlumniBtn"
                                    style="background-color: #4CAF50; color: white; border: none; padding: 0.5rem 1rem; border-radius: 10px; cursor: pointer; font-size: 1.3rem;">
                                    Tambah
                                </button>
                            </div>
                            <div class="table-responsive overflow-x-visible">
                                <div id="table-gridjs" data-alumni="<%= JSON.stringify(alumni)%>"
                                    data-tracer="<%= JSON.stringify(tracerStudy)%>"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- modal tambah -->
            <div id="tambahAlumniModal"
                style="display: none; position: fixed; z-index: 9999; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgba(0,0,0,0.4);">
                <div
                    style="background-color: #fefefe; margin: 10% auto; padding: 25px; border: 1px solid #888; width: 80%; max-width: 600px; font-size: 1.1rem;  border-radius: 0.7rem;">
                    <span id="closeModalBtn"
                        style="color: #aaa; float: right; font-size: 34px; font-weight: bold; cursor: pointer;">&times;</span>
                    <h2 style="font-size: 1.8rem; margin-bottom: 15px;">Tambah Data Alumni</h2>
                    <form id="formTambahAlumni" style="font-size: 1.1rem;" method="post" action="/admin/alumni-list">
                        <div style="margin-bottom: 15px;">
                            <label for="nama" style="font-size: 1.2rem;">Nama:</label><br>
                            <input type="text" id="nama" name="nama"
                                style="width: 100%; padding: 0.7rem; margin-top: 5px; margin-bottom: 10px; box-sizing: border-box; font-size: 1.1rem; border: 1px solid #888; border-radius: 10px;"
                                placeholder="masukkan nama">
                        </div>
                        <div style="margin-bottom: 15px;">
                            <label for="nisn" style="font-size: 1.2rem;">NISN:</label><br>
                            <input type="number" id="nisn" name="nisn"
                                style="width: 100%; padding: 0.7rem; margin-top: 5px; margin-bottom: 10px; box-sizing: border-box; font-size: 1.1rem; border: 1px solid #888; border-radius: 10px;"
                                placeholder="masukkan NISN">
                        </div>
                        <div style="margin-bottom: 15px;">
                            <label for="jenisKelamin" style="font-size: 1.2rem;">Jenis Kelamin:</label><br>
                            <select id="jenisKelamin" name="jenisKelamin"
                                style="width: 100%; padding: 0.7rem; margin-top: 5px; margin-bottom: 10px; box-sizing: border-box; font-size: 1.1rem; border: 1px solid #888; border-radius: 10px;">
                                <option value="Laki-laki">Laki-laki</option>
                                <option value="Perempuan">Perempuan</option>
                            </select>
                        </div>
                        <div style="text-align: right;">
                            <button type="submit"
                                style="background-color: #4CAF50; color: white; border: none; padding: 0.7rem 1.2rem; border-radius: 0.7rem; cursor: pointer; font-size: 1.2rem;">
                                Simpan
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- modal edit -->
            <div id="editAlumniModal"
                style="display: none; position: fixed; z-index: 9999; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgba(0,0,0,0.4);">
                <div
                    style="background-color: #fefefe; margin: 10% auto; padding: 25px; border: 1px solid #888; width: 80%; max-width: 600px; font-size: 1.1rem; border-radius: 0.7rem;">
                    <span id="closeEditModalBtn"
                        style="color: #aaa; float: right; font-size: 34px; font-weight: bold; cursor: pointer;">&times;</span>
                    <h2 id="editModalTitle" style="font-size: 1.8rem; margin-bottom: 15px;">Edit Data Alumni</h2>
                    <form id="formEditAlumni" style="font-size: 1.1rem;" method="post" action="/admin/alumni-list/edit">
                        <input type="hidden" id="editNisn" name="editNisn">
                        <div style="margin-bottom: 15px;">
                            <label for="editNama" style="font-size: 1.2rem;">Nama:</label><br>
                            <input type="text" id="editNama" name="nama"
                                style="width: 100%; padding: 0.7rem; margin-top: 5px; margin-bottom: 10px; box-sizing: border-box; font-size: 1.1rem; border: 1px solid #888; border-radius: 10px;"
                                placeholder="masukkan nama">
                        </div>
                        <div style="margin-bottom: 15px;">
                            <label for="editNisnInput" style="font-size: 1.2rem;">NISN:</label><br>
                            <input type="number" id="editNisnInput" name="nisn"
                                style="width: 100%; padding: 0.7rem; margin-top: 5px; margin-bottom: 10px; box-sizing: border-box; font-size: 1.1rem; border: 1px solid #888;  border-radius: 10px;"
                                placeholder="masukkan NISN">
                        </div>
                        <div style=" margin-bottom: 15px;">
                            <label for="editJenisKelamin" style="font-size: 1.2rem;">Jenis Kelamin:</label><br>
                            <select id="editJenisKelamin" name="jenisKelamin"
                                style="width: 100%; padding: 0.7rem; margin-top: 5px; margin-bottom: 10px; box-sizing: border-box; font-size: 1.1rem; border: 1px solid #888;  border-radius: 10px;">
                                <option value="Laki-laki">Laki-laki</option>
                                <option value="Perempuan">Perempuan</option>
                            </select>
                        </div>
                        <div style="text-align: right;">
                            <button type="submit"
                                style="background-color: #007bff; color: white; border: none; padding: 0.7rem 1.2rem; border-radius: 0.7rem; cursor: pointer; font-size: 1.2rem;">Update</button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- modal konfirmasi hapus -->
            <div id="deleteConfirmModal"
                style="display: none; position: fixed; z-index: 10000; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgba(0,0,0,0.4);">
                <div
                    style="background-color: #fefefe; margin: 15% auto; padding: 20px; border: 1px solid #888; width: 80%; max-width: 400px; border-radius: 0.7rem; text-align: center;">
                    <h3 style="font-size: 1.5rem; margin-bottom: 15px; font-weight: 700;">Konfirmasi Penghapusan</h3>
                    <p style="margin-bottom: 20px;">Apakah Anda yakin ingin menghapus alumni ini?</p>
                    <form id="deleteForm" method="post" action="/admin/alumni-list/delete">
                        <input type="hidden" name="nisn" id="deleteNisnInput">
                        <button type="submit"
                            style="background-color: #f44336; color: white; border: none; padding: 0.7rem 1.2rem; border-radius: 0.7rem; cursor: pointer; font-size: 1.1rem; margin-right: 10px;">Hapus</button>
                        <button type="button" onclick="closeDeleteConfirmModal()"
                            style="background-color: #ccc; color: black; border: none; padding: 0.7rem 1.2rem; border-radius: 0.7rem; cursor: pointer; font-size: 1.1rem;">Batal</button>
                    </form>
                </div>
            </div>


            <!-- alert -->
            <div
                style="position: fixed; top: 5rem; right: 0; left: 0; z-index: 50; display: flex; align-items: center; justify-content: center;">
                <% if (typeof success !=='undefined' ) { %>
                    <div class="alert-success"
                        style="display: flex; justify-content: center; align-items: center; width: 75%; max-width: 640px; margin-bottom: 2.25rem; padding: 1rem; border-radius: 0.375rem; font-size: 0.875rem; line-height: 1.25rem; color: #fff; background-color: #22c55e; font-size: 1.3rem;">
                        <p style="margin: 0;">
                            <%= success %>
                        </p>
                    </div>
                    <% } %>
                        <% if (typeof error !=='undefined' ) { %>
                            <div class="alert-error"
                                style="display: flex; justify-content: center; align-items: center; width: 75%; max-width: 640px; margin-bottom: 2.25rem; padding: 1rem; border-radius: 0.375rem; font-size: 0.875rem; line-height: 1.25rem; color: #fff; background-color: #ef4444;">
                                <p style="margin: 0; font-size: 1.3rem;">
                                    <%= error %>
                                </p>
                            </div>
                            <% } %>
            </div>


            <div
                style="position: fixed; top: 5rem; right: 0; left: 0; z-index: 50; display: flex; align-items: center; justify-content: center;">
                <% if (success_msg && success_msg.length> 0) { %>
                    <div class="alert-success"
                        style="background-color: #4CAF50; color: white; border-radius: 0.375rem; padding: 1rem; margin-bottom: 2.25rem; width: 75%; max-width: 640px; font-size: 1.3rem; line-height: 1.25rem;"
                        role="alert">
                        <p style="margin: 0;">
                            <%= success_msg %>
                        </p>
                    </div>
                    <% } %>
                        <% if (error_msg && error_msg.length> 0) { %>
                            <div class="alert-error"
                                style="background-color: #F44336; color: white; border-radius: 0.375rem; padding: 1rem; margin-bottom: 2.25rem; width: 75%; max-width: 640px; font-size: 1.3rem; line-height: 1.25rem;"
                                role="alert">
                                <p style="margin: 0;">
                                    <%= error_msg %>
                                </p>
                            </div>
                            <% } %>
            </div>
        </main>
        <!-- End Page Content -->
    </div>

    <!-- script -->
    <script src="../../assets/admin/libs/feather-icons/feather.min.js"></script>
    <script src="../../assets/admin/libs/simplebar/simplebar.min.js"></script>
    <script src="../../assets/admin/js/plugins.init.js"></script>
    <script src="../../assets/admin/js/app.js"></script>
    <!-- end script -->


    <script type="module">
        import { Grid, html } from "https://unpkg.com/gridjs?module";

        document.addEventListener("DOMContentLoaded", function (e) {
            const alumniTableElement = document.getElementById("table-gridjs");

            if (!alumniTableElement) {
                console.error("Elemen dengan ID 'table-gridjs' tidak ditemukan.");
                return;
            }

            try {
                const dataAlumni = JSON.parse(alumniTableElement.getAttribute("data-alumni"));
                const dataTracer = JSON.parse(alumniTableElement.getAttribute("data-tracer"));

                const dataTarcerMap = dataTracer.map((tracer) => [
                    tracer != null ? 'Sudah' : 'Belum',
                ]);
                console.log("Data Tracer Map:", dataTarcerMap);

                const dataAlumniMap = dataAlumni.map((alumni, index) => [
                    index + 1,
                    alumni.nama,
                    alumni.nisn,
                    alumni.jenisKelamin,
                    dataTarcerMap[index] && dataTarcerMap[index][0],
                ]);
                console.log("Data Alumni Map:", dataAlumniMap);

                class GridDatatable {
                    init() {
                        this.basicTableInit();
                    }
                    basicTableInit() {
                        console.log("Grid di dalam basicTableInit:", Grid); // Log objek Grid yang diimpor
                        if (Grid) {
                            new Grid({
                                columns: [
                                    {
                                        name: "No",
                                        formatter: (e) => html('<span class="font-semibold flex w-full justify-center">' + e + "</span>"),
                                    },
                                    {
                                        name: "Nama",
                                        formatter: (e) => html('<span style="font-size: 1.2rem;">' + e + "</span>"),
                                    },
                                    {
                                        name: "NISN",
                                        formatter: (e) => html('<span style="font-size: 1.2rem;">' + e + "</span>"),
                                    },
                                    {
                                        name: "Jenis Kelamin",
                                        formatter: (e) => html('<span style="font-size: 1.2rem;">' + e + "</span>"),
                                    },
                                    {
                                        name: "Tracer Study",
                                        formatter: (e) => {
                                            if (e === "Sudah") {
                                                return html(`<span style="font-weight: bold; color: white; background-color: #4CAF50; padding: 0.7rem 0.7rem; border-radius: 0.2rem;">${e} Mengisi</span>`);
                                            } else {
                                                return html(`<span style="font-weight: bold; color: white; background-color: #f44336; padding: 0.7rem 0.7rem; border-radius: 0.2rem;">${e} Mengisi</span>`);
                                            }
                                        },
                                    },
                                    {
                                        name: "Actions",
                                        formatter: (cell, row) => {
                                            const nisn = row.cells[2].data;
                                            const nama = row.cells[1].data; // Ambil nama
                                            const jenisKelamin = row.cells[3].data; // Ambil jenis kelamin

                                            return html(`
                                                <div style="display: flex; gap: 0.5rem; align-items: center;">
                                                    <button style="background-color: blue; color: white; border: none; padding: 0.2rem 0.5rem; border-radius: 10px; cursor: pointer; font-size: 1.2rem;">
                                                        <a href='/admin/alumni-list/${nisn}' style="color: white; text-decoration: none;">Detail</a>
                                                    </button>
                                                    <button
                                                        style="background-color: #ffc107; border: none; padding: 0.2rem 0.5rem; border-radius: 10px; cursor: pointer; font-size: 1.2rem; color: white;"
                                                        onclick="openEditModal('${nisn}', '${nama}', '$edit{jenisKelamin}')"
                                                    >
                                                        Edit
                                                    </button>
                                                    <button type="button" 
                                                        style="background-color: #f44336; color: white; border: none; padding: 0.2rem 0.5rem; border-radius: 10px; cursor: pointer; font-size: 1.2rem;"
                                                        onclick="showDeleteConfirmModal('${nisn}')">
                                                        Delete
                                                    </button>
                                                </div>
                                            `);
                                        },
                                    },
                                ],
                                pagination: { limit: 10 },
                                resizable: true,
                                sort: true,
                                search: true,
                                data: dataAlumniMap
                            }).render(alumniTableElement);
                        } else {
                            console.error("Pustaka Grid belum berhasil diimpor sebagai modul.");
                        }
                    }
                }

                const gridTable = new GridDatatable();
                gridTable.init();

            } catch (error) {
                console.error("Terjadi kesalahan:", error);
            }
        });
    </script>

    <!-- logic button edit -->
    <script>
        function openEditModal(nisn, nama, jenisKelamin) {
            const modal = document.getElementById("editAlumniModal");
            const modalTitle = document.getElementById("editModalTitle");
            const namaInput = document.getElementById("editNama");
            const nisnInput = document.getElementById("editNisnInput"); // Dapatkan elemen input NISN yang benar
            const jenisKelaminSelect = document.getElementById("editJenisKelamin");
            const form = document.getElementById("formEditAlumni");
            const editNisnHidden = document.getElementById("editNisn");

            modalTitle.textContent = "Edit Data Alumni";
            namaInput.value = nama;
            nisnInput.value = nisn;
            jenisKelaminSelect.value = jenisKelamin;
            editNisnHidden.value = nisn; // Set nilai input hidden untuk update (NISN lama)

            modal.style.display = "block";
        }

        document.getElementById('closeEditModalBtn').onclick = function () {
            document.getElementById('editAlumniModal').style.display = "none";
        }

        window.onclick = function (event) {
            if (event.target == document.getElementById('editAlumniModal')) {
                document.getElementById('editAlumniModal').style.display = "none";
            }
        }
    </script>

    <!-- logic untuk tambah alumni -->
    <script>
        const tambahAlumniBtn = document.getElementById("tambahAlumniBtn");
        const tambahAlumniModal = document.getElementById("tambahAlumniModal");
        const closeModalBtn = document.getElementById("closeModalBtn");
        const formTambahAlumni = document.getElementById("formTambahAlumni");
        const alumniTableElement = document.getElementById("table-gridjs");

        // Fungsi untuk membuka modal
        tambahAlumniBtn.onclick = function () {
            tambahAlumniModal.style.display = "block";
        }

        // Fungsi untuk menutup modal saat tombol close diklik
        closeModalBtn.onclick = function () {
            tambahAlumniModal.style.display = "none";
        }

        // Fungsi untuk menutup modal saat area di luar modal diklik
        window.onclick = function (event) {
            if (event.target == tambahAlumniModal) {
                tambahAlumniModal.style.display = "none";
            }
        }
    </script>
    <script>
        const alertSuccess = document.querySelector('.alert-success');
        if (alertSuccess) {
            setTimeout(() => {
                alertSuccess.remove();
            }, 2000);
        }
        const alertError = document.querySelector('.alert-error');
        if (alertError) {
            setTimeout(() => {
                alertError.remove();
            }, 2000);
        }
    </script>
    <script>
        // Fungsi untuk menampilkan modal konfirmasi penghapusan
        function showDeleteConfirmModal(nisn) {
            const deleteConfirmModal = document.getElementById('deleteConfirmModal');
            const deleteNisnInput = document.getElementById('deleteNisnInput');

            deleteNisnInput.value = nisn; // Set NISN ke hidden input di form modal
            deleteConfirmModal.style.display = 'block'; // Tampilkan modal
        }

        // Fungsi untuk menutup modal konfirmasi penghapusan
        function closeDeleteConfirmModal() {
            document.getElementById('deleteConfirmModal').style.display = 'none'; // Sembunyikan modal
        }

        // Menutup modal konfirmasi saat klik di luar area modal
        window.addEventListener('click', (event) => {
            const deleteConfirmModal = document.getElementById('deleteConfirmModal');
            if (event.target === deleteConfirmModal) {
                deleteConfirmModal.style.display = 'none'; // Sembunyikan modal
            }
        });
    </script>

</body>

</html>