<!DOCTYPE html>
<html lang="en">
<!-- Mirrored from coderthemes.com/konrix/layouts/apps-calendar.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 09 Oct 2024 06:31:06 GMT -->

<head>
    <meta charset="utf-8">
    <title>Admin - Detail Alumni</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description">
    <meta content="coderthemes" name="author">

    <link href="../../assets/images/smk-bp.png" rel="icon" type="image/png">

    <!-- Main Css -->
    <link href="../../assets/admin/libs/simplebar/simplebar.min.css" rel="stylesheet">
    <link href="../../assets/admin/libs/%40mdi/font/css/materialdesignicons.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../../assets/admin/css/tailwind.min.css">


</head>

<body>
    <div class="page-wrapper toggled">
        <nav id="sidebar" class="sidebar-wrapper sidebar-dark">
            <div class="sidebar-content">
                <div class="sidebar-brand">
                    <a href="/"><img src="../../assets/admin/images/logo-light.png" alt="" width="200px"></a>
                </div>

                <ul class="sidebar-menu border-t border-white/10" data-simplebar style="height: calc(100% - 70px);">
                    <li>
                        <a href="/admin" style="font-size: 1.4rem;"><i
                                class="mdi mdi-chart-bell-curve-cumulative me-2"></i>Dashboard</a>
                    </li>

                    <li>
                        <a href="/admin/alumni-list" style="font-size: 1.4rem;"><i
                                class="mdi mdi-home-city me-2"></i>Alumni </a>
                    </li>

                    <li>
                        <a href="favorite-property.html" style="font-size: 1.4rem;"><i
                                class="mdi mdi-home-heart me-2"></i>Berita </a>
                    </li>

                    <li>
                        <a href="add-property.html" style="font-size: 1.4rem;"><i
                                class="mdi mdi-home-plus me-2"></i>Lowongan </a>
                    </li>

                    <li>
                        <a href="chat.html" style="font-size: 1.4rem;"><i
                                class="mdi mdi-chat-outline me-2"></i>Saran</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Start Page Content -->
        <main class="page-content bg-gray-50 dark:bg-slate-800">

            <!-- Top Header -->
            <div class="top-header">
                <div class="header-bar flex justify-between">
                    <div class="flex items-center space-x-1">
                        <!-- Logo -->
                        <a href="#" class="xl:hidden block me-2">
                            <img src="../../assets/admin/images/smk-bp.png" width="40px" class="md:hidden block" alt="">
                            <span class="md:block hidden">
                                <img src="../../assets/admin/images/logo-dark.png" class="inline-block dark:hidden"
                                    alt="" width="200px">
                                <img src="../../assets/admin/images/logo-light.png" class="hidden dark:inline-block"
                                    alt="" width="200px">
                            </span>
                        </a>
                        <!-- Logo -->

                        <!-- show or close sidebar -->
                        <a id="close-sidebar"
                            class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-[20px] text-center bg-gray-50 dark:bg-slate-800 hover:bg-gray-100 dark:hover:bg-slate-700 border border-black dark:border-gray-800 text-slate-900 dark:text-white rounded-md"
                            href="javascript:void(0)">
                            <i data-feather="menu" class="size-4"></i>
                        </a>
                        <!-- show or close sidebar -->
                    </div>

                    <ul class="list-none mb-0 space-x-1">
                        <!-- User/Profile Dropdown -->
                        <li class="dropdown inline-block relative">
                            <button data-dropdown-toggle="dropdown" class="dropdown-toggle items-center" type="button">
                                <span
                                    class="size-10 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-[20px] text-center bg-gray-50 dark:bg-slate-800 hover:bg-gray-100 dark:hover:bg-slate-700 border border-black dark:border-gray-800 text-slate-900 dark:text-white rounded-md"><img
                                        src="../../assets/admin/images/profile-icon-light.png" class="rounded-md w-full"
                                        alt="" style="cursor: pointer;"></span>
                            </button>
                            <!-- Dropdown menu -->
                            <div class="dropdown-menu absolute end-0 m-0 mt-4 z-10 w-44 rounded-md overflow-hidden bg-white dark:bg-slate-900 shadow-sm dark:shadow-gray-700 hidden"
                                onclick="event.stopPropagation();">
                                <ul class="py-2 text-start">
                                    <li>
                                        <a href="/admin/profile"
                                            class="block py-1 px-4 dark:text-white/70 hover:text-green-600 dark:hover:text-white"><i
                                                class="mdi mdi-account-outline me-2"></i>Profile</a>
                                    </li>
                                    <li class="border-t border-gray-100 dark:border-gray-800 my-2"></li>
                                    <li>
                                        <a href="/logout"
                                            class="block py-1 px-4 dark:text-white/70 hover:text-green-600 dark:hover:text-white"><i
                                                class="mdi mdi-logout me-2"></i>Logout</a>
                                    </li>
                                </ul>
                            </div>
                        </li><!--end dropdown-->
                        <!-- User/Profile Dropdown -->
                    </ul>
                </div>
            </div>
            <!-- Top Header -->

            <div class="container-fluid relative px-3">
                <div class="layout-specing">
                    <div style="display: flex; gap: 10px; align-items: center;">
                        <a href="/admin/alumni-list">
                            <span class="mdi mdi-arrow-left-circle"
                                style="font-size: 40px; margin-bottom: 10px; display: block;"></span>
                        </a>
                        <p style="color: black; font-size: 2rem; font-weight: bold; margin-bottom: 0.7rem;">
                            Detail Alumni</p>
                    </div>
                    <div
                        class="relative overflow-hidden rounded-md shadow-sm dark:shadow-gray-700 bg-white dark:bg-slate-900">
                        <div class="col-span-2">
                            <div class="card">
                                <div class="p-6">
                                    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                                        <div>
                                            <p
                                                style="color: navy; font-size: 1.1rem; font-weight: bold; display: block; margin-bottom: 0.7rem;">
                                                NISN</p>
                                            <h2 style="color: black; font-size: 1.5rem;">
                                                <%= alumni.nisn %>
                                            </h2>
                                        </div>
                                        <div>
                                            <p
                                                style="color: navy; font-size: 1.1rem; font-weight: bold; display: block; margin-bottom: 0.7rem;">
                                                Nama</p>
                                            <h2 style="color: black; font-size: 1.5rem;">
                                                <%= alumni.nama %>
                                            </h2>
                                        </div>
                                        <div>
                                            <p
                                                style="color: navy; font-size: 1.1rem; font-weight: bold; display: block; margin-bottom: 0.7rem;">
                                                Jenis Kelamin</p>
                                            <h2 style="color: black; font-size: 1.5rem;">
                                                <%= alumni.jenisKelamin %>
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <% if(tracerStudy.length> 0) { %>
                        <div
                            class="relative overflow-hidden rounded-md shadow-sm dark:shadow-gray-700 bg-white dark:bg-slate-900 mt-3">
                            <div class="p-6">
                                <div class="grid grid-cols-1 md:grid-cols-2" style="gap: 2rem;">
                                    <div>
                                        <div class="flex items-center gap-2 mb-2">
                                            <span style="font-size: 28px; margin-bottom: 10px; display: block;"
                                                class="mdi mdi-mail"></span>
                                            <p
                                                style="color: navy; font-size: 1.2rem; font-weight: bold; display: block; margin-bottom: 0.7rem;">
                                                Email</p>
                                        </div>
                                        <h2 class="text-black" style="font-size: 1.5rem;">
                                            <%= tracerStudy[0].email %>
                                        </h2>
                                    </div>

                                    <div>
                                        <div class="flex items-center gap-2 mb-2">
                                            <span style="font-size: 28px; margin-bottom: 10px; display: block;"
                                                class="mdi mdi-calendar-text"></span>
                                            <p
                                                style="color: navy; font-size: 1.2rem; font-weight: bold; display: block; margin-bottom: 0.7rem;">
                                                Tahun
                                                Lulus
                                            </p>
                                        </div>
                                        <h2 class="text-black" style="font-size: 1.5rem;">
                                            <%= tracerStudy[0].tahunLulus %>
                                        </h2>
                                    </div>

                                    <div>
                                        <div class="flex items-center gap-2 mb-2">
                                            <span style="font-size: 28px; margin-bottom: 10px; display: block;"
                                                class="mdi mdi-run"></span>
                                            <p
                                                style="color: navy; font-size: 1.2rem; font-weight: bold; display: block; margin-bottom: 0.7rem;">
                                                Kegiatan
                                                setelah Lulus</p>
                                        </div>
                                        <h2 class="text-black" style="font-size: 1.5rem;">
                                            <%= tracerStudy[0].kegiatan %>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <% if(tracerStudy[0].kegiatan=="Bekerja" ) { %>
                            <div
                                class="relative overflow-hidden rounded-md shadow-sm dark:shadow-gray-700 bg-white dark:bg-slate-900 mt-3">
                                <div class="p-6">
                                    <div class="grid grid-cols-1 md:grid-cols-2" style="gap: 2rem;">
                                        <div>
                                            <div class="flex items-center gap-2 mb-2"
                                                style="display: flex; align-items: center; gap: 0.5rem; margin-bottom: 0.5rem;">
                                                <span style="font-size: 28px; margin-bottom: 10px; display: block;"
                                                    class="mdi mdi-domain">
                                                </span>
                                                <p
                                                    style="color: navy; font-size: 1.2rem; font-weight: bold; display: block; margin-bottom: 0.7rem;">
                                                    Nama
                                                    Perusahaan</p>
                                            </div>
                                            <h2 style="font-size: 1.5rem; color: black;">
                                                <%= tracerStudy[0].kegiatanDetail.namaPerusahaan %>
                                            </h2>
                                        </div>
                                        <div>
                                            <div class="flex items-center gap-2 mb-2"
                                                style="display: flex; align-items: center; gap: 0.5rem; margin-bottom: 0.5rem;">
                                                <span style="font-size: 28px; margin-bottom: 10px; display: block;"
                                                    class="mdi mdi-view-dashboard ">
                                                </span>
                                                <p style=" color: navy; font-size: 1.2rem; font-weight: bold; display:
                                                    block; margin-bottom: 0.7rem;">
                                                    Alamat
                                                    Perusahaan</p>
                                            </div>
                                            <h2 style="font-size: 1.5rem; color: black;">
                                                <%= tracerStudy[0].kegiatanDetail.alamatPerusahaan %>
                                            </h2>
                                        </div>
                                        <div>
                                            <div class="flex items-center gap-2 mb-2"
                                                style="display: flex; align-items: center; gap: 0.5rem; margin-bottom: 0.5rem;">
                                                <span style="font-size: 28px; margin-bottom: 10px; display: block;"
                                                    class="mdi mdi-phone">
                                                </span>
                                                <label style=" color: navy; font-size: 1.2rem; font-weight: bold; display:
                                                    block; margin-bottom: 0.7rem;">Telepon
                                                    Perusahaan</label>
                                            </div>
                                            <h2 style="font-size: 1.5rem; color: black;">
                                                <%= tracerStudy[0].kegiatanDetail.teleponPerusahaan %>
                                            </h2>
                                        </div>
                                        <div>
                                            <div class="flex items-center gap-2 mb-2"
                                                style="display: flex; align-items: center; gap: 0.5rem; margin-bottom: 0.5rem;">
                                                <span style="font-size: 28px; margin-bottom: 10px; display: block;"
                                                    class="mdi mdi-shape-plus">
                                                </span>
                                                <label style=" color: navy; font-size: 1.2rem; font-weight: bold; display:
                                                    block; margin-bottom: 0.7rem;">Sektor
                                                    Perusahaan</label>
                                            </div>
                                            <h2 style="font-size: 1.5rem; color: black;">
                                                <%= tracerStudy[0].kegiatanDetail.sektorPerusahaan %>
                                            </h2>
                                        </div>
                                        <div>
                                            <div class="flex items-center gap-2 mb-2"
                                                style="display: flex; align-items: center; gap: 0.5rem; margin-bottom: 0.5rem;">
                                                <span style="font-size: 28px; margin-bottom: 10px; display: block;"
                                                    class="mdi mdi-bag-checked">
                                                </span>
                                                <label style=" color: navy; font-size: 1.2rem; font-weight: bold; display:
                                                    block; margin-bottom: 0.7rem;">Posisi</label>
                                            </div>
                                            <h2 style="font-size: 1.5rem; color: black;">
                                                <%= tracerStudy[0].kegiatanDetail.posisi %>
                                            </h2>
                                        </div>
                                        <div>
                                            <div class="flex items-center gap-2 mb-2"
                                                style="display: flex; align-items: center; gap: 0.5rem; margin-bottom: 0.5rem;">
                                                <span style="font-size: 28px; margin-bottom: 10px; display: block;"
                                                    class="mdi mdi-calendar-range">
                                                </span>
                                                <label style=" color: navy; font-size: 1.2rem; font-weight: bold; display:
                                                    block; margin-bottom: 0.7rem;">Tanggal
                                                    Masuk</label>
                                            </div>
                                            <h2 style="font-size: 1.5rem; color: black;">
                                                <%= new
                                                    Date(tracerStudy[0].kegiatanDetail.tanggalMasuk).toLocaleDateString('id-ID',
                                                    { weekday: 'long' , year: 'numeric' , month: 'long' , day: 'numeric'
                                                    }) %>
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <% } else if(tracerStudy[0].kegiatan=="Melanjutkan Studi" ) { %>
                                <div
                                    class="relative overflow-hidden rounded-md shadow-sm dark:shadow-gray-700 bg-white dark:bg-slate-900 mt-6">
                                    <div class="p-6">
                                        <div class="grid grid-cols-1 md:grid-cols-2" style="gap: 2rem;">
                                            <div>
                                                <div class="flex items-center gap-2 mb-2">
                                                    <span style="font-size: 28px; margin-bottom: 10px; display: block;"
                                                        class="mdi mdi-domain"></span>
                                                    <p
                                                        style="color: navy; font-size: 1.2rem; font-weight: bold; display: block; margin-bottom: 0.7rem;">
                                                        Nama Universitas</p>
                                                </div>
                                                <h2 style="font-size: 1.5rem; color: black;">
                                                    <%= tracerStudy[0].kegiatanDetail.namaUniversitas %>
                                                </h2>
                                            </div>
                                            <div>
                                                <div class="flex items-center gap-2 mb-2">
                                                    <span style="font-size: 28px; margin-bottom: 10px; display: block;"
                                                        class="mdi mdi-view-stream"></span>
                                                    <p
                                                        style="color: navy; font-size: 1.2rem; font-weight: bold; display: block; margin-bottom: 0.7rem;">
                                                        Alamat Universitas</p>
                                                </div>
                                                <h2 style="font-size: 1.5rem; color: black;">
                                                    <%= tracerStudy[0].kegiatanDetail.alamatUniversitas %>
                                                </h2>
                                            </div>
                                            <div>
                                                <div class="flex items-center gap-2 mb-2">
                                                    <span style="font-size: 28px; margin-bottom: 10px; display: block;"
                                                        class="mdi mdi-backpack"></span>
                                                    <p
                                                        style="color: navy; font-size: 1.2rem; font-weight: bold; display: block; margin-bottom: 0.7rem;">
                                                        Fakultas</p>
                                                </div>
                                                <h2 style="font-size: 1.5rem; color: black;">
                                                    <%= tracerStudy[0].kegiatanDetail.fakultas %>
                                                </h2>
                                            </div>
                                            <div>
                                                <div class="flex items-center gap-2 mb-2">
                                                    <span style="font-size: 28px; margin-bottom: 10px; display: block;"
                                                        class="mdi mdi-memory"></span>
                                                    <p
                                                        style="color: navy; font-size: 1.2rem; font-weight: bold; display: block; margin-bottom: 0.7rem;">
                                                        Program Studi</p>
                                                </div>
                                                <h2 style="font-size: 1.5rem; color: black;">
                                                    <%= tracerStudy[0].kegiatanDetail.programStudi %>
                                                </h2>
                                            </div>
                                            <div>
                                                <div class="flex items-center gap-2 mb-2">
                                                    <span style="font-size: 28px; margin-bottom: 10px; display: block;"
                                                        class="mdi mdi-calendar-range"></span>
                                                    <p
                                                        style="color: navy; font-size: 1.2rem; font-weight: bold; display: block; margin-bottom: 0.7rem;">
                                                        Tanggal Masuk</p>
                                                </div>
                                                <h2 style="font-size: 1.5rem; color: black;">
                                                    <%= new
                                                        Date(tracerStudy[0].kegiatanDetail.tanggalMasuk).toLocaleDateString('id-ID',
                                                        { weekday: 'long' , year: 'numeric' , month: 'long' ,
                                                        day: 'numeric' }) %>
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <% } else if(tracerStudy[0].kegiatan=="Berwirausaha" ) { %>
                                    <div
                                        class="relative overflow-hidden rounded-md shadow-sm dark:shadow-gray-700 bg-white dark:bg-slate-900 mt-6">
                                        <div class="p-6">
                                            <div class="grid grid-cols-1 md:grid-cols-2" style="gap: 2rem;">

                                                <div>
                                                    <div class="flex items-center gap-2 mb-2">
                                                        <span class="mdi mdi-domain"
                                                            style="font-size: 28px; margin-bottom: 10px; display: block;"></span>
                                                        <p
                                                            style="color: navy; font-size: 1.2rem; font-weight: bold; display: block; margin-bottom: 0.7rem;">
                                                            Nama Usaha</p>
                                                    </div>
                                                    <h2 style="font-size: 1.5rem; color: black;">
                                                        <%= tracerStudy[0].kegiatanDetail.namaUsaha %>
                                                    </h2>
                                                </div>

                                                <div>
                                                    <div class="flex items-center gap-2 mb-2">
                                                        <span class="mdi mdi-view-stream"
                                                            style="font-size: 28px; margin-bottom: 10px; display: block;"></span>
                                                        <p
                                                            style="color: navy; font-size: 1.2rem; font-weight: bold; display: block; margin-bottom: 0.7rem;">
                                                            Alamat Usaha</p>
                                                    </div>
                                                    <h2 style="font-size: 1.5rem; color: black;">
                                                        <%= tracerStudy[0].kegiatanDetail.alamatUsaha %>
                                                    </h2>
                                                </div>

                                                <div>
                                                    <div class="flex items-center gap-2 mb-2">
                                                        <span class="mdi mdi-phone"
                                                            style="font-size: 28px; margin-bottom: 10px; display: block;"></span>
                                                        <p
                                                            style="color: navy; font-size: 1.2rem; font-weight: bold; display: block; margin-bottom: 0.7rem;">
                                                            Telepon Usaha</p>
                                                    </div>
                                                    <h2 style="font-size: 1.5rem; color: black;">
                                                        <%= tracerStudy[0].kegiatanDetail.teleponUsaha %>
                                                    </h2>
                                                </div>

                                                <div>
                                                    <div class="flex items-center gap-2 mb-2">
                                                        <span class="mdi mdi-briefcase-variant"
                                                            style="font-size: 28px; margin-bottom: 10px; display: block;"></span>
                                                        <p
                                                            style="color: navy; font-size: 1.2rem; font-weight: bold; display: block; margin-bottom: 0.7rem;">
                                                            Bidang Usaha</p>
                                                    </div>
                                                    <h2 style="font-size: 1.5rem; color: black;">
                                                        <%= tracerStudy[0].kegiatanDetail.bidangUsaha %>
                                                    </h2>
                                                </div>

                                                <div>
                                                    <div class="flex items-center gap-2 mb-2">
                                                        <span class="mdi mdi-account-group"
                                                            style="font-size: 28px; margin-bottom: 10px; display: block;"></span>
                                                        <p
                                                            style="color: navy; font-size: 1.2rem; font-weight: bold; display: block; margin-bottom: 0.7rem;">
                                                            Jumlah Karyawan</p>
                                                    </div>
                                                    <h2 style="font-size: 1.5rem; color: black;">
                                                        <%= tracerStudy[0].kegiatanDetail.jumlahKaryawan %>
                                                    </h2>
                                                </div>

                                                <div>
                                                    <div class="flex items-center gap-2 mb-2">
                                                        <span class="mdi mdi-calendar-start"
                                                            style="font-size: 28px; margin-bottom: 10px; display: block;"></span>
                                                        <p
                                                            style="color: navy; font-size: 1.2rem; font-weight: bold; display: block; margin-bottom: 0.7rem;">
                                                            Tanggal Mulai Usaha</p>
                                                    </div>
                                                    <h2 style="font-size: 1.5rem; color: black;">
                                                        <%= new
                                                            Date(tracerStudy[0].kegiatanDetail.tanggalMulai).toLocaleDateString('id-ID',
                                                            { weekday: 'long' , year: 'numeric' , month: 'long' ,
                                                            day: 'numeric' }) %>
                                                    </h2>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <% } else if(tracerStudy[0].kegiatan=="Kursus" ) { %>
                                        <div
                                            class="relative overflow-hidden rounded-md shadow-sm dark:shadow-gray-700 bg-white dark:bg-slate-900 mt-6">
                                            <div class="p-6">
                                                <div class="grid grid-cols-1 md:grid-cols-2" style="gap: 2rem;">
                                                    <div>
                                                        <div class="flex items-center gap-2 mb-2">
                                                            <span class="mdi mdi-domain"
                                                                style="font-size: 28px; margin-bottom: 10px; display: block;"></span>
                                                            <p
                                                                style="color: navy; font-size: 1.2rem; font-weight: bold; display: block; margin-bottom: 0.7rem;">
                                                                Nama Kursus</p>
                                                        </div>
                                                        <h2 style="font-size: 1.5rem; color: black;">
                                                            <%= tracerStudy[0].kegiatanDetail.namaKursus %>
                                                        </h2>
                                                    </div>
                                                    <div>
                                                        <div class="flex items-center gap-2 mb-2">
                                                            <span class="mdi mdi-view-stream"
                                                                style="font-size: 28px; margin-bottom: 10px; display: block;"></span>
                                                            <p
                                                                style="color: navy; font-size: 1.2rem; font-weight: bold; display: block; margin-bottom: 0.7rem;">
                                                                Alamat Kursus</p>
                                                        </div>
                                                        <h2 style="font-size: 1.5rem; color: black;">
                                                            <%= tracerStudy[0].kegiatanDetail.alamatKursus %>
                                                        </h2>
                                                    </div>
                                                    <div>
                                                        <div class="flex items-center gap-2 mb-2">
                                                            <span class="mdi mdi-backpack"
                                                                style="font-size: 28px; margin-bottom: 10px; display: block;"></span>
                                                            <p
                                                                style="color: navy; font-size: 1.2rem; font-weight: bold; display: block; margin-bottom: 0.7rem;">
                                                                Bidang Kursus</p>
                                                        </div>
                                                        <h2 style="font-size: 1.5rem; color: black;">
                                                            <%= tracerStudy[0].kegiatanDetail.bidangKursus %>
                                                        </h2>
                                                    </div>
                                                    <div>
                                                        <div class="flex items-center gap-2 mb-2">
                                                            <span class="mdi mdi-calendar-start"
                                                                style="font-size: 28px; margin-bottom: 10px; display: block;"></span>
                                                            <p
                                                                style="color: navy; font-size: 1.2rem; font-weight: bold; display: block; margin-bottom: 0.7rem;">
                                                                Tanggal Mulai Kursus</p>
                                                        </div>
                                                        <h2 style="font-size: 1.5rem; color: black;">
                                                            <%= new
                                                                Date(tracerStudy[0].kegiatanDetail.tanggalMulai).toLocaleDateString('id-ID',
                                                                { weekday: 'long' , year: 'numeric' , month: 'long' ,
                                                                day: 'numeric' }) %>
                                                        </h2>
                                                    </div>
                                                    <div>
                                                        <div class="flex items-center gap-2 mb-2">
                                                            <span class="mdi mdi-calendar-end"
                                                                style="font-size: 28px; margin-bottom: 10px; display: block;"></span>
                                                            <p
                                                                style="color: navy; font-size: 1.2rem; font-weight: bold; display: block; margin-bottom: 0.7rem;">
                                                                Tanggal Selesai Kursus</p>
                                                        </div>
                                                        <h2 style="font-size: 1.5rem; color: black;">
                                                            <%= new
                                                                Date(tracerStudy[0].kegiatanDetail.tanggalSelesai).toLocaleDateString('id-ID',
                                                                { weekday: 'long' , year: 'numeric' , month: 'long' ,
                                                                day: 'numeric' }) %>
                                                        </h2>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <% } else if(tracerStudy[0].kegiatan=="Belum Ada Kegiatan" ) { %>
                                            <div
                                                class="relative overflow-hidden rounded-md shadow-sm dark:shadow-gray-700 bg-white dark:bg-slate-900 mt-6">
                                                <div class="p-6">
                                                    <div class="grid grid-cols-1" style="gap: 2rem;">
                                                        <div>
                                                            <div class="flex items-center gap-2 mb-2">
                                                                <span class="mdi mdi-calendar-clock"
                                                                    style="font-size: 28px; margin-bottom: 10px; display: block;"></span>
                                                                <p
                                                                    style="color: navy; font-size: 1.2rem; font-weight: bold; display: block; margin-bottom: 0.7rem;">
                                                                    Kegiatan Yang Dilakukan Sekarang
                                                                </p>
                                                            </div>
                                                            <div class="bg-yellow-50 dark:bg-gray-700 rounded-md">
                                                                <p style="font-size: 1.5rem; color: black;">
                                                                    <%= tracerStudy[0].belumAdaKegiatanDetail %>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <% } %>
                                                <div
                                                    class="relative overflow-hidden rounded-md shadow-sm dark:shadow-gray-700 bg-white dark:bg-slate-900 mt-6">
                                                    <div class="p-6">
                                                        <div class="grid grid-cols-1" style="gap: 2rem;">
                                                            <div>
                                                                <div class="flex items-center gap-2 mb-2">
                                                                    <span class="mdi mdi-forum"
                                                                        style="font-size: 28px; margin-bottom: 10px; display: block;"></span>
                                                                    <p
                                                                        style="color: navy; font-size: 1.2rem; font-weight: bold; display: block; margin-bottom: 0.7rem;">
                                                                        Feedback
                                                                    </p>
                                                                </div>
                                                                <div class="bg-yellow-50 dark:bg-gray-700 rounded-md">
                                                                    <p style="font-size: 1.5rem; color: black;">
                                                                        <%= tracerStudy[0].feedback.pesan %>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <% } else { %>
                                                    <div style="grid-column: span 2; margin-top: 1.5rem;">
                                                        <div
                                                            style="background-color: #ef4444; border-radius: 6px; box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);">
                                                            <div style="padding: 1.5rem;">
                                                                <h1
                                                                    style="color: #fff; text-align: center; font-weight: bold; font-size: 1.5rem;">
                                                                    Alumni ini belum mengisi form tracer study
                                                                </h1>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <% } %>
                </div>
            </div>
        </main>
    </div>

    <!-- Back to Top Button -->
    <button data-toggle="back-to-top"
        class="fixed hidden h-10 w-10 items-center justify-center rounded-full z-10 bottom-20 end-14 p-2.5 bg-primary cursor-pointer shadow-lg text-white">
        <i class="mgc_arrow_up_line text-lg"></i>
    </button>


    <!-- script -->
    <script src="../../assets/admin/libs/feather-icons/feather.min.js"></script>
    <script src="../../assets/admin/libs/simplebar/simplebar.min.js"></script>
    <script src="../../assets/admin/js/plugins.init.js"></script>
    <script src="../../assets/admin/js/app.js"></script>

    <script>
        const alertSuccess = document.querySelector('.alert-success');
        if (alertSuccess) {
            setTimeout(() => {
                alertSuccess.remove();
            }, 2000);
        }
        const alertError = document.querySelector('.alert-error');
        if (alertError) {
            setTimeout(() => {
                alertError.remove();
            }, 2000);
        }
    </script>

</body>

</html>