<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Admin - Lowongan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description">
    <meta content="coderthemes" name="author">

    <!-- App favicon -->
    <link rel="shortcut icon" href="../../assets/admin/smk-bp.png">


    <!-- Main Css -->
    <link href="../../assets/admin/libs/simplebar/simplebar.min.css" rel="stylesheet">
    <link href="../../assets/admin/libs/%40mdi/font/css/materialdesignicons.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../../assets/admin/css/tailwind.min.css">
    <style>
        input[type="file"] {
            border: 1px solid #ccc;
            /* Gaya border yang sederhana */
            background-color: #fff;
            border-radius: 4px;
            cursor: pointer;
            /* Menambahkan kursor pointer untuk menunjukkan interaksi */
        }
    </style>
</head>

<body>
    <div class="page-wrapper toggled">
        <nav id="sidebar" class="sidebar-wrapper sidebar-dark">
            <div class="sidebar-content">
                <div class="sidebar-brand">
                    <a href="/"><img src="../../assets/admin/images/logo-light.png" alt="" width="200px"></a>
                </div>

                <ul class="sidebar-menu border-t border-white/10" data-simplebar style="height: calc(100% - 70px);">
                    <li>
                        <a href="/admin" style="font-size: 1.4rem;"><i
                                class="mdi mdi-chart-bell-curve-cumulative me-2"></i>Dashboard</a>
                    </li>

                    <li>
                        <a href="/admin/alumni-list" style="font-size: 1.4rem;"><i
                                class="mdi mdi-home-city me-2"></i>Alumni </a>
                    </li>

                    <li>
                        <a href="/admin/berita" style="font-size: 1.4rem;"><i class="mdi mdi-home-heart me-2"></i>Berita
                        </a>
                    </li>

                    <li>
                        <a href="/admin/lowongan" style="font-size: 1.4rem;"><i
                                class="mdi mdi-home-plus me-2"></i>Lowongan </a>
                    </li>

                    <li>
                        <a href="chat.html" style="font-size: 1.4rem;"><i
                                class="mdi mdi-chat-outline me-2"></i>Saran</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- Start Page Content -->
        <main class="page-content bg-gray-50 dark:bg-slate-800" style="min-height: 100vh;">
            <div class="top-header">
                <div class="header-bar flex justify-between">
                    <div class="flex items-center space-x-1">
                        <a href="#" class="xl:hidden block me-2">
                            <img src="../../assets/admin/images/smk-bp.png" class="md:hidden block" alt="" width="40px">
                            <span class="md:block hidden">
                                <img src="../../assets/admin/images/logo-dark.png" class="inline-block dark:hidden"
                                    alt="" width="200px">
                                <img src="../../assets/admin/images/logo-light.png" class="hidden dark:inline-block"
                                    alt="" width="200px">
                            </span>
                        </a>
                        <a id="close-sidebar"
                            class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-[20px] text-center bg-gray-50 dark:bg-slate-800 hover:bg-gray-100 dark:hover:bg-slate-700 border border-black dark:border-gray-800 text-slate-900 dark:text-white rounded-md"
                            href="javascript:void(0)">
                            <i data-feather="menu" class="size-4"></i>
                        </a>
                    </div>

                    <ul class="list-none mb-0 space-x-1">

                        <li class="dropdown inline-block relative">
                            <button data-dropdown-toggle="dropdown" class="dropdown-toggle items-center" type="button">
                                <span
                                    class="size-10 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-[20px] text-center bg-gray-50 dark:bg-slate-800 hover:bg-gray-100 dark:hover:bg-slate-700 border border-black dark:border-gray-800 text-slate-900 dark:text-white rounded-md"><img
                                        src="../../assets/admin/images/profile-icon-light.png" class="rounded-md w-full"
                                        alt="" style="cursor: pointer;"></span>
                            </button>
                            <div class="dropdown-menu absolute end-0 m-0 mt-4 z-10 w-44 rounded-md overflow-hidden bg-white dark:bg-slate-900 shadow-sm dark:shadow-gray-700 hidden"
                                onclick="event.stopPropagation();">
                                <ul class="py-2 text-start">
                                    <li>
                                        <a href="/admin/profile"
                                            class="block py-1 px-4 dark:text-white/70 hover:text-green-600 dark:hover:text-white"><i
                                                class="mdi mdi-account-outline me-2"></i>Profile</a>
                                    </li>
                                    <li class="border-t border-gray-100 dark:border-gray-800 my-2"></li>
                                    <li>
                                        <a href="/logout"
                                            class="block py-1 px-4 dark:text-white/70 hover:text-green-600 dark:hover:text-white"><i
                                                class="mdi mdi-logout me-2"></i>Logout</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="container-fluid relative px-3">
                <div class="layout-specing">
                    <div
                        style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1.5rem;">
                        <p style="color: black; font-size: 2rem; font-weight: bold;">
                            Daftar Lowongan
                        </p>
                        <button id="tambahLowonganBtn"
                            style="background-color: #4CAF50; color: white; border: none; padding: 0.5rem 1rem; border-radius: 10px; cursor: pointer; font-size: 1.3rem;">
                            Tambah Lowongan
                        </button>
                    </div>
                    <% if(lowongan.length> 0) { %>
                        <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-6 mt-6">
                            <% lowongan.forEach(function(item) { %>
                                <div
                                    class="group rounded-xl bg-white dark:bg-slate-900 shadow-sm hover:shadow-xl dark:hover:shadow-xl dark:shadow-gray-700 overflow-hidden ease-in-out duration-500">
                                    <a href="/admin/lowongan/<%= item._id %>">
                                        <div class="relative">
                                            <img src="/uploads/<%= item.featuredImage %>" alt="<%= item.title %>"
                                                style="height: 200px; object-fit: cover; width: 100%;">
                                        </div>
                                        <div class="p-6">
                                            <div style="padding-bottom: 0.75rem;">
                                                <a href="/admin/lowongan/<%= item._id %>"
                                                    class="text-2xl hover:text-green-600 font-medium ease-in-out duration-500 title-link"
                                                    style="height: 4rem; overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical;">
                                                    <%= item.title %>
                                                </a>
                                                <p class="text-sm text-gray-500 mt-2">
                                                    <%= item.createdAt.toLocaleDateString('id-ID', { day: 'numeric' ,
                                                        month: 'long' , year: 'numeric' }) %>
                                                </p>
                                            </div>
                                            <div
                                                class="py-6 border-y border-slate-100 dark:border-gray-800 flex items-center list-none">
                                                <p
                                                    style="height: 4.5rem; overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical;">
                                                    <%= item.content.substring(0, 150) + '...' %>
                                                </p>
                                            </div>

                                        </div>
                                    </a>
                                    <div class="px-6 pb-6 flex justify-end gap-2">
                                        <button id="editLowonganBtn"
                                            style="background-color: #3b82f6; color: white; font-weight: 700; padding: 0.5rem 1rem; border-radius: 0.375rem; cursor: pointer;"
                                            data-id="<%= item._id %>" data-title="<%= item.title %>"
                                            data-content="<%= item.content %>"
                                            data-featuredImage="<%= item.featuredImage %>">Edit</button>

                                        <form action="/admin/lowongan/delete/<%= item._id %>" method="post">
                                            <button
                                                style="background-color: #dc2626;color: white; font-weight: 700; padding: 0.5rem 1rem; border-radius: 0.375rem; cursor: pointer;">Delete</button>
                                        </form>
                                    </div>
                                </div>

                                <% }); %>
                        </div>
                        <% } else { %>
                            <div style="grid-column: span 2; margin-top: 1.5rem;">
                                <div
                                    style="background-color: #ef4444; border-radius: 6px; box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);">
                                    <div style="padding: 1.5rem;">
                                        <h1
                                            style="color: #fff; text-align: center; font-weight: bold; font-size: 1.5rem;">
                                            Belum Ada Lowongan
                                        </h1>
                                    </div>
                                </div>
                            </div>
                            <% } %>


                </div>
            </div>
        </main>

        <!-- modal tambah lowongan -->
        <div id="modalTambahLowongan"
            style="display: none; position: fixed; z-index: 9999; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgba(0,0,0,0.4);">
            <div
                style="background-color: #fefefe; margin: 10% auto; padding: 25px; border: 1px solid #888; width: 80%; max-width: 600px; font-size: 1.1rem;">
                <span id="tutupModalBtn"
                    style="color: #aaa; float: right; font-size: 34px; font-weight: bold; cursor: pointer;">&times;</span>
                <h2 style="font-size: 1.8rem; margin-bottom: 15px; font-weight: 700;">Tambah Lowongan Baru</h2>
                <form id="formTambahLowongan" method="post" enctype="multipart/form-data" style="font-size: 1.1rem;">
                    <div style="margin-bottom: 15px;">
                        <label for="judulLowongan" style="font-size: 1.2rem;">Judul Lowongan:</label><br>
                        <input type="text" id="judulLowongan" name="judulLowongan" required
                            style="width: 100%; padding: 0.7rem; margin-top: 5px; margin-bottom: 10px; box-sizing: border-box; font-size: 1.1rem; border: 1px solid #888; border-radius: 10px;"
                            placeholder="Masukkan judul lowongan">
                    </div>
                    <div style="margin-bottom: 15px;">
                        <label for="isiLowongan" style="font-size: 1.2rem;">Isi Lowongan:</label><br>
                        <textarea id="isiLowongan" name="isiLowongan" rows="8" required
                            style="width: 100%; padding: 0.7rem; margin-top: 5px; margin-bottom: 10px; box-sizing: border-box; font-size: 1.1rem; border: 1px solid #888; border-radius: 10px;"
                            placeholder="Masukkan isi lowongan"></textarea>
                    </div>
                    <div style="margin-bottom: 15px;">
                        <label for="gambarLowongan" style="font-size: 1.2rem;">Gambar Lowongan:</label><br>
                        <input type="file" id="gambarLowongan" name="gambarLowongan"
                            style="margin-top: 5px; margin-bottom: 10px">
                    </div>
                    <div style="text-align: right;">
                        <button type="submit"
                            style="background-color: #4CAF50; color: white; border: none; padding: 0.7rem 1.2rem; border-radius: 0.7rem; cursor: pointer; font-size: 1.2rem;">Simpan</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- modal edit lowongan -->
        <div id="modalEditLowongan"
            style="display: none; position: fixed; z-index: 9999; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgba(0,0,0,0.4);">
            <div
                style="background-color: #fefefe; margin: 10% auto; padding: 25px; border: 1px solid #888; width: 80%; max-width: 600px; font-size: 1.1rem;">
                <span id="closeModalBtn"
                    style="color: #aaa; float: right; font-size: 34px; font-weight: bold; cursor: pointer;">&times;</span>
                <h2 style="font-size: 1.8rem; margin-bottom: 15px; font-weight: 700;">Edit Lowongan</h2>
                <form id="formEditLowongan" method="post" enctype="multipart/form-data" style="font-size: 1.1rem;"
                    action="/admin/lowongan/edit">
                    <input type="hidden" id="idLowongan" name="idLowongan">
                    <div style="margin-bottom: 15px;">
                        <label for="judulLowongan" style="font-size: 1.2rem;">Judul Lowongan:</label><br>
                        <input type="text" id="judulLowongan" name="judulLowongan" required
                            style="width: 100%; padding: 0.7rem; margin-top: 5px; margin-bottom: 10px; box-sizing: border-box; font-size: 1.1rem; border: 1px solid #888; border-radius: 0.7rem;"
                            placeholder="Masukkan judul lowongan">
                    </div>
                    <div style="margin-bottom: 15px;">
                        <label for="isiLowongan" style="font-size: 1.2rem;">Isi Lowongan:</label><br>
                        <textarea id="isiLowongan" name="isiLowongan" rows="8" required
                            style="width: 100%; padding: 0.7rem; margin-top: 5px; margin-bottom: 10px; box-sizing: border-box; font-size: 1.1rem; border: 1px solid #888; border-radius: 0.7rem;"
                            placeholder="Masukkan isi lowongan"></textarea>
                    </div>
                    <div style="margin-bottom: 15px;">
                        <label for="gambarLowongan" style="font-size: 1.2rem;">Gambar Utama:</label><br>
                        <input type="file" id="gambarLowongan" name="gambarLowongan"
                            style="margin-top: 5px; margin-bottom: 10px">
                    </div>
                    <div style="text-align: right;">
                        <button type="submit"
                            style="background-color: #4CAF50; color: white; border: none; padding: 0.7rem 1.2rem; border-radius: 0.7rem; cursor: pointer; font-size: 1.2rem;">Simpan</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- alert -->
        <div
            style="position: fixed; top: 5rem; right: 0; left: 0; z-index: 50; display: flex; align-items: center; justify-content: center;">
            <% if (success_msg && success_msg.length> 0) { %>
                <div class="alert-success"
                    style="background-color: #4CAF50; color: white; border-radius: 0.375rem; padding: 1rem; margin-bottom: 2.25rem; width: 75%; max-width: 640px; font-size: 1.3rem; line-height: 1.25rem; text-align: center;"
                    role="alert">
                    <p style="margin: 0;">
                        <%= success_msg %>
                    </p>
                </div>
                <% } %>
                    <% if (error_msg && error_msg.length> 0) { %>
                        <div class="alert-error"
                            style="background-color: #F44336; color: white; border-radius: 0.375rem; padding: 1rem; margin-bottom: 2.25rem; width: 75%; max-width: 640px; font-size: 1.3rem; line-height: 1.25rem; text-align: center;"
                            role="alert">
                            <p style="margin: 0;">
                                <%= error_msg %>
                            </p>
                        </div>
                        <% } %>
        </div>
    </div>

    <script src="../../assets/admin/libs/feather-icons/feather.min.js"></script>
    <script src="../../assets/admin/libs/simplebar/simplebar.min.js"></script>
    <script src="../../assets/admin/js/plugins.init.js"></script>
    <script src="../../assets/admin/js/app.js"></script>

    <!-- modal tambah -->

    <script>
        const alertSuccess = document.querySelector('.alert-success');
        if (alertSuccess) {
            setTimeout(() => {
                alertSuccess.remove();
            }, 2000);
        }
        const alertError = document.querySelector('.alert-error');
        if (alertError) {
            setTimeout(() => {
                alertError.remove();
            }, 2000);
        }
    </script>
    <script>
        // Mendapatkan elemen-elemen modal dan tombol
        const modal = document.getElementById("modalTambahLowongan");
        const btnTambah = document.getElementById("tambahLowonganBtn");
        const btnTutup = document.getElementById("tutupModalBtn");
        const btnBatal = document.getElementById("batalModalBtn");

        // Event listener untuk menampilkan modal saat tombol "Tambah Lowongan" diklik
        btnTambah.addEventListener("click", () => {
            modal.style.display = "block";
        });

        // Event listener untuk menyembunyikan modal saat tombol "Tutup" diklik
        btnTutup.addEventListener("click", () => {
            modal.style.display = "none";
        });

        // Event listener untuk menyembunyikan modal saat tombol "Batal" diklik
        btnBatal.addEventListener("click", () => {
            modal.style.display = "none";
        });

        // Event listener untuk menyembunyikan modal saat area di luar modal diklik
        window.addEventListener("click", (event) => {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        });
    </script>

    <!-- modal edit lowongan -->
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const editButtons = document.querySelectorAll('[id^="editLowonganBtn"]');
            const modal = document.getElementById('modalEditLowongan');
            const closeModalBtn = document.getElementById('closeModalBtn'); // Changed to closeModalBtn
            const batalModalBtn = document.getElementById('batalModalBtn');
            const formEditLowongan = document.getElementById('formEditLowongan');

            editButtons.forEach(button => {
                button.addEventListener('click', () => {
                    const id = button.dataset.id;
                    const title = button.dataset.title;
                    const content = button.dataset.content;
                    const featuredImage = button.dataset.featuredImage;


                    modal.style.display = "block";

                    formEditLowongan.querySelector('#idLowongan').value = id;
                    console.log(id);
                    formEditLowongan.querySelector('#judulLowongan').value = title;
                    formEditLowongan.querySelector('#isiLowongan').value = content;


                });
            });

            closeModalBtn.addEventListener('click', () => { // Changed to closeModalBtn
                modal.style.display = "none";
            });

            batalModalBtn.addEventListener('click', () => {
                modal.style.display = "none";
            });

            window.addEventListener('click', (event) => {
                if (event.target === modal) {
                    modal.style.display = "none";
                }
            });
        });
    </script>
</body>

</html>